.cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
    .cartItem{
      width: 500px;
      height: 200px;
      display: flex;
      align-items: center;
      border-radius: 25px;
      margin: 30px;
      padding-left: 20px;
      border: 1px solid blue;
      box-shadow: 3px solid royalblue;

    }
    .cartProductImage{
      width: 250px;
      height: 150px;
      padding-left: 20px;
      padding-right:20px;
      border-radius: 10px;

    }
    /* .cartItem img{
      width: 200px;
    } */
    .cartItem .description{
      width:100px;
      font-size: 18px;
    }
    .countHandler{
     margin-top: 120px; 
    }
    .countHandler input{
      width: 40px;
      text-align: center;
      font-weight: bold;
    }
    .checkout button {
      width: 150px;
      height: 50px;
      background-color: black;
      color: beige;
      border-radius: 10px;
      margin: 12px;
      cursor: pointer;
    }